<!--embedding the header file-->
{{ template "header.html" .}}



{{if .Agents}}
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
    {{range .Agents}}
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://w7.pngwing.com/pngs/107/706/png-transparent-computer-icons-calculator-calculation-mathe-electronics-text-sign.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h5 class="mb-0">{{.AgentId}} </h5>
          <p class="mb-0 opacity-75">Workers total: <b>{{.TotalProcs}}</b>, idle <b>{{.IdleProcs}}</b></p>
          <p class="mb-0 opacity-75">Started   <b>{{ .FirstSeen }}</b></p>
          <p class="mb-0 opacity-75">Last seen <b>{{ .LastSeen }}</b></p>
        </div>
        <h5 class="text-nowrap">{{.Status}}</h5>
      </div>
    </a>
    {{end}}
  </div>
</div>
{{else}}
  <p>List is empty</p>
{{end}}



<!--embedding the footer file-->
{{ template "footer.html" .}}