<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Distributed calc by Mur466</a></span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/tasks" class="nav-link {{if (eq .title "Tasks")}}active{{end}}">Tasks</a></li>
      <li class="nav-item"><a href="/agents" class="nav-link {{if (eq .title "Agents")}}active{{end}}">Agents</a></li>
      <li class="nav-item"><a href="/config" class="nav-link {{if (eq .title "Config")}}active{{end}}">Config</a></li>
    </ul>
  </header>
</div>

<!--


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
-->
